@page
@model Vaccinated_Profile.Pages.Profiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Vaccine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Vaccine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Fdose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Fdose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Sdose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Sdose)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
