@page
@model Vaccinated_Profile.Pages.Profiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Vaccine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Vaccine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Fdose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Fdose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Sdose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Sdose)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
