@page
@model Vaccinated_Profile.Pages.Profiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Vaccinated Profile</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Vaccine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Fdose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Sdose)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fdose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdose)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
